body {
    background: #000000af;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fas {
  font-size: 5em!important;
}


.pulse {
    width: 120px;
    height: 120px;
    color: white;
    border-radius: 50%;
    background-color: #5900ff;
    line-height: 120px;
    animation: animate 3s linear infinite;
    justify-content: center;
    align-items: center;
    display: flex;

}

@keyframes animate {
    0% {
        box-shadow: 0 0 0 0 #6e48c7d3, 
        0 0 0 0 #663dfad3;
    }
    40% {
        box-shadow: 0 0 0 20px #8f65f3cc, 
        0 0 0 0 #7f72f3af;
    }
    80% {
        box-shadow: 0 0 0 30px #f3039b,
        0 0 0 30px #fd02a1;
    }
    100% {
        box-shadow: 0 0 0 0 40px #ff00a2fd, 
        0 0 0 40px  #fc05a1e7;
    }
}

